{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <main>
        <h1 class="text-center text-uppercase">Hello world</h1>
        <h2 class="text-end text-lowercase">Second</h2>
        <h3 class="text-capitalize">3 title one two</h3>

        <hr>

        <div class="display-1 text-muted">Hello world</div>
        <div class="display-5">Second</div>
        <div class="display-6">3 title</div>

        <hr>

        <div class="text-muted text-end">
           Додатковий <span class="display-6">текст</span>
        </div>

        <hr>

        <a href="# "class="btn btn-primary">
            Button primary
        </a>

        <hr>

        <p class="text-primary">
            My text
        </p>
        <p class="text-muted ">
            My text
        </p>

        <hr>
        
        <div class="card">
            <div class="card-body">
                <button class="btn btn-secondary btn-lg">My button</button>
                <button class="btn btn-outline-secondary">My button</button>
                <button class="btn btn-outline-dark btn-sm">My button</button>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="card">
            <div class="card-body">
                This is content
            </div>
        </div>
    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
