{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main class="p-5">
    <div class="row g-5">
        <div class="col-12">
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to set </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-2 pt-1">
                    <label class="form-label">Email address</label>
                </div>
                <div class="col-6">
                    <input type="color"  class="form-control">
                </div>
                <div class="col-4 ps-5 pt-1">
                    <div class="form-text text-danger">Error. You need to set </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <hr>
    </div>

    <div class="col-12">
        <label class="form-label">Select form</label>
        <select class="form-select form-control-sm">
            <option>Selected>Open list</option>
            <option>value="1"Admin</option>
            <option>value="2"User</option>
        </select>
    </div>

    <div>
        <hr>
    </div>

    <div class="col-12">
        <div class="form-check form-control-sm">
            <label class="form-check-label">Apple</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
        <div class="form-check form-control-sm">
            <label class="form-check-label">Orange</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
        <div class="form-check form-control-sm">
            <label class="form-check-label">Banana</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
    </div>
</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
