{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <main class="p-5">
        <div class="card text-bg-dark">
            <img src="https://picsum.photos/400/200" class="card-img-top" alt="Product photo">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Product #15361</h5>
                <p class="text-bg-secondary">
                    USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm
                </p>
                <a href="#" class="btn btn-primary">Open</a>
            </div>
        </div>

        <br>
        <br>
        <br>
        
        <div class="card text-bg-primary">
            <div class="card-header">
                <div>Menu</div>
            </div>
                <ul class="list-group">
                    <li class="list-group-item text-bg-info">
                        <a href="#" class="btn btn-link">Home page</a>
                    </li>
                    <li class="list-group-item text-bg-warning">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="list-group-item text-bg-danger">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
        </div>
        
        <br>
        <br>
        <br>

        <table class="table table-bordered text-bg-success">
            <thead>
                <tr>
                    <th>
                        #id
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        age
                    </th>
                </tr>
            </thead>
                    
            <tbody>
                <tr>
                    <th>
                        1
                    </th>
                    <td>
                        John
                    </td>
                    <td>
                        35
                    </td>
                </tr>
                <tr>
                    <th>
                        2
                    </th>
                    <td>
                        Ivan
                    </td>
                    <td>
                        29
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <br>

        <div class="card text-bg-success">
            <div class="card-header text-center">Title</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        
        <br>
        <br>
        <br>

    <div class="row g-2">
        <div class="col-12">
            <div class="nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link main-active">Home</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Yea</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Shop</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item mb-3">
                            <div class="card">
                                <a href="#" class="nav-link">Home</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="nav-item">
                                <a href="#" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="nav-item">
                                <a href="#" class="nav-link disabled">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">PC та Ноутбук</a>
                    </li>
                    <li class="breadcrumb-item">
                        MacBook
                    </li>
                </ol>
            </div>
        </div>
        <div class="alert alert-primary">
                    <div class="col-12">
            <h6>Hello world! <span class="badge text-bg-info rounded-pill text-uppercase">Топ продаж</span></h6>
        </div>
        </div>
        <button class="btn btn-primary rounded-pill">Click me</button>

    </div>


    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
