{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main class="p-5">
    <div class="row g-5">
        <div>
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to set </div>
        </div>
        <div>
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to set </div>
        </div>
        <div>
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to set </div>
        </div>
    </div>
</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
